# Frontend
VITE_API_BASE_URL=http://localhost:8000

WEATHER_LATITUDE=55.99261490973373
WEATHER_LONGITUDE=11.967096034307996
WEATHER_LOCATION_NAME=Hjemme

MEALIE_BASE_URL=http://192.168.0.155:9925
MEALIE_API_TOKEN=
MEALIE_HOUSEHOLD_SLUG=home