# Frontend
VITE_API_BASE_URL=http://localhost:8000

# Backend
# Add backend environment variables here later, for example:
# MEALIE_BASE_URL=http://mealie:9000
# MEALIE_API_TOKEN=your-token-here
# WEATHER_LATITUDE=55.6761
# WEATHER_LONGITUDE=12.5683